.user-profile {
  margin: 1rem 0;
  margin-bottom: 0.6rem;
  padding: 1.6rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  /* background-color: #f9f9f9; */
  /* width: 100%; */
  flex: 4;
  width: 90%;
  margin-top: 0px;
}

.edit-form label,
.edit-form input {
  display: block;
  margin-bottom: 0.5rem;
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
  .edit-form label,
  .edit-form input {
    margin-bottom: 0.3rem; /* Reduce margin for smaller screens */
  }

  .edit-form .save-button {
    padding: 0.4rem 2rem; /* Reduce padding for smaller screens */
  }
}

.edit-form .save-button {
  width: 100%;
  background-color: #FF3F6B;
  color: #fff;
  border: none;
  padding: 0.6rem 3rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  text-transform: uppercase;
}

.edit-form .save-button:hover {
  background-color: #FF3F6B;
}

.user-details .edit-button {
  width: 100%;
  background-color: #FF3F6B;
  color: #fff;
  border: none;
  padding: 0.6rem 3rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  text-transform: uppercase;
}

.user-details .edit-button:hover {
  background-color: #FF3F6B;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.2rem;
}

.profile-img img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.profile-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.key {
  flex: 1;
  font-weight: bold;
  text-align: left;
}

.value {
  flex: 1;
  text-align: left;
}
