.analytics-dashboard {
  margin: 0rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  /* width: 100%; */
  
}
.charts{
  width: 40%;
}

.chart-container {
  margin: 1rem 0;
  width: 100%; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.charts {
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
}

/* Media Queries for Responsiveness */
@media (max-width: 900px) {
  .charts {
    padding: 1rem;
    width: 80%;
  }
}

@media (max-width : 400px){
  .charts{
    /* padding: 1rem; */
    width: 90%;
    
  }
  .analytics-dashboard{
    padding: 0.2rem;
    margin: 10px;
  }
}