.product-list-page {
    margin: 2rem 0;
    padding: 2rem;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    flex: 12;
  }
  
  .product-list-wrapper{
    display: flex;
    gap: 20px;

    @media screen and (max-width: 650px) {
      flex-direction: column;
      
    }
  }

  /* .product-list-wrapper :first-child{
    
  } */

  .filter-section{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  #brand{
    padding: 0.4rem 1rem;
  }

  #brand:focus{
    outline: none;
  }

  .product-filter{
    flex: 2.8;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
    height: 100%;

    
    gap: 15px;
  }

  .filter-section select{
    border: 1px solid #ddd;
    font-family: poppins;
  }

  #search{
    padding: 0.5rem 1rem;
  }

  .search-bar {
    flex-grow: 1;
    padding: 0.2rem 1rem;
    display: flex;
    align-items: center;
    /* background-color: #dddddd94; */
    border: solid 1px #ddd;
    /* border-radius: 10px; */
    
    /* margin: 0 1rem; */
  }
  
  .search-bar input {
    padding: 1rem 1rem;
    flex-grow: 1;
    height: 100%;
    border: none;
    outline: none;
    
    background-color: transparent;
    font-family: poppins;
  }
  
  .search-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }


